<div class="background">
    <div class="container container-login">
        <div class="row">
            <div class="col-md-12">
                <div class="login-card">
                    <div class="login-form">
                        <a href="homepage.html">
                          <div class="login-form-inputs">
                        </a>  
                          

<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-floating mb-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= f.label :email, class: "form-label" %>
  </div>

  <div class="bottoni-registrazione">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary green' %>
    <br><%= render "users/shared/links" %>

  </div>
<% end %>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
