<div class="container" style="min-height: 0;">
        <a href="">
        <%= link_to(image_tag("loghi/logo 3.png", class:"form-casa-immagine"), root_path) %>
      </a>
    </div>
    <%= form_with(model: house, local: true, data: { controller: "maps", action: "google-maps-callback@window->maps#initMap", maps_latitude: house.citta, maps_longitude: house.nazione, maps_placeidd: house.place_id }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="container container-form">
            <h1>Inserisci il tuo indirizzo.</h1>
        </div>
        <div class="container container-form" style="overflow:hidden; height:50vh;">
            <div class="pac-card" id="pac-card">
                <div>
                    <div id="title">Inserisci l'indirizzo della casa</div>
                </div>
                <div id="pac-container">
                    <%= f.search_field :address, name: nil, class: 'form-control pac-target-input', data: {target:"maps.field", action: "keydown->maps#keydown"} %>
                </div>
                <div>
                  <%= f.label :place_id %>
                  <%= f.text_field :place_id, data: {target: "maps.placeidd"}, readonly:true %>
                </div>
                <div>
                  <%= f.label :citta, style:"display:block" %>
                  <%= f.text_field :citta, data: {target: "maps.latitude"}, readonly:true %>
                </div>
                <div>
                  <%= f.label :nazione, style:"display:block" %>
                  <%= f.text_field :nazione, data: {target: "maps.longitude"}, readonly:true %>
                </div>
            </div>
            <div>
            <div data-target="maps.map" style="height:400px;width:700px"></div>
            </div>
        </div>
        <div class="container container-form">
            <h1>Com'è la tua casa?</h1>
        </div>
        <div class="container container-form">
            <h4>Tipologia</h4>
            <div class="row">
                <div class="col-sm-2 col-2">
                    <%= f.radio_button :tipologia, "appartamento" ,class: "checkbox-opzione" %>
                    <%= f.label :tipologia_appartamento, class: "opzione" do %>
                      <%= image_tag("icone/appartamento.png", class: "icona-check") %>
                      <span class="scritta-icona">Appartamento</span>
                    <% end %>
                </div>
                <div class="col-sm-2 col-2">
                    <%= f.radio_button :tipologia, "casa" ,class: "checkbox-opzione" %>
                    <%= f.label :tipologia_casa, class: "opzione" do %>
                      <%= image_tag("icone/casa.png", class: "icona-check") %>
                      <span class="scritta-icona">Casa</span>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="container container-form">
            <h4>Quant'è grande?</h2>
                <div class="row">
                    <div class="form-floating mb-4">
                        <%= f.text_field :superficie, class: "form-control", id: "superficie", placeholder: "Superficie in metri quadri", required: true %>
                        <%= f.label :superficie, "Superficie in metri quadri", class: "form-label" %>
                    </div>
                </div>
        </div>
        <div class="container container-form">

            <div class="row">
                <div class="col-lg-6">
                    <h4>Ambienti:</h4>
                    <div class="row">
                    <div class="form-group col-sm-6">
                    <%= image_tag("icone/lettodoppio.png", alt: "") %>
                    <span class="label-contatore">Camere da Letto</span>
                  </div>
                  
                  <div class="input-number-container col-sm-4">
                    <div class="input-number">
                      <%= f.number_field :n_camere, class: "form-control", style: "display: none;", value: 1, required: true, min: 1, id: "formnumerocamere"%>
                      <button type="button" class="input-number-btn" id="bottonedecrementacamere" onclick="decrementa('numerocamere', 'formnumerocamere')">−</button>
                      <span class="input-number-value" id="numerocamere">1</span>
                      <button type="button" class="input-number-btn" id="bottoneincrementacamere" onclick="incrementa('numerocamere', 'formnumerocamere')">+</button>
                    </div>
                  </div>
                  
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/bath.png", alt: "") %>
                            <span class="label-contatore">Bagni</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_bagni, class: "form-control", style: "display: none;", value: 1, required: true, min: 1, id: "form-numero-bagni" %>
                            <button type="button" class="input-number-btn" id="bottone-dec-bagni" onclick="decrementa('numero-bagni', 'form-numero-bagni')">−</button>
                            <span class="input-number-value" id="numero-bagni">1</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-bagni" onclick="incrementa('numero-bagni', 'form-numero-bagni')">+</button>                            
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/cucina.png", alt: "") %>
                            <span class="label-contatore">Cucine</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_cucine, class: "form-control", style: "display: none;", value: 1, required: true, min: 1, id: "form-numero-cucine" %>
                            <button type="button" class="input-number-btn" id="bottone-dec-cucine" onclick="decrementa('numero-cucine', 'form-numero-cucine')">−</button>
                            <span class="input-number-value" id="numero-cucine">1</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-cucine" onclick="incrementa('numero-cucine', 'form-numero-cucine')">+</button>                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/sofa.png", alt: "") %>
                            <span class="label-contatore">Soggiorni</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_soggiorni, class: "form-control", style: "display: none;", value: 0, required: true, min: 0, id: "form-numero-soggiorni" %>
                            <button type="button" class="input-number-btn" id="bottone-dec-soggiorni" onclick="decrementa('numero-soggiorni', 'form-numero-soggiorni')">−</button>
                            <span class="input-number-value" id="numero-soggiorni">0</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-soggiorni" onclick="incrementa('numero-soggiorni', 'form-numero-soggiorni')">+</button>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>Quante persone può ospitare?</h4>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/lettosingolo.png", alt: "") %>
                            <span class="label-contatore">Letti Singoli</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_singoli, class: "form-control", style: "display: none;", value: 0, required: true, min: 0, id: "form-numero-lettosingolo"%>
                            <button type="button" class="input-number-btn" id="bottone-dec-lettosingolo" onclick="decrementa('numero-lettosingolo', 'form-numero-lettosingolo')">−</button>
                            <span class="input-number-value" id="numero-lettosingolo">0</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-lettosingolo" onclick="incrementa('numero-lettosingolo', 'form-numero-lettosingolo')">+</button>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/lettodoppio.png", alt: "") %>
                            <span class="label-contatore">Letti Matrimoniali</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_doppi, class: "form-control", style: "display: none;", value: 0, required: true, min: 0, id: "form-numero-lettomatrimoniale" %>
                            <button type="button" class="input-number-btn" id="bottone-dec-lettomatrimoniale" onclick="decrementa('numero-lettomatrimoniale', 'form-numero-lettomatrimoniale')">−</button>
                            <span class="input-number-value" id="numero-lettomatrimoniale">0</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-lettomatrimoniale" onclick="incrementa('numero-lettomatrimoniale', 'form-numero-lettomatrimoniale')">+</button>                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/culla.png", alt: "") %>
                            <span class="label-contatore">Culle</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_culle, class: "form-control", style: "display: none;", value: 0, required: true, min: 0, id: "form-numero-culla"%>
                            <button type="button" class="input-number-btn" id="bottone-dec-culla" onclick="decrementa('numero-culla', 'form-numero-culla')">−</button>
                            <span class="input-number-value" id="numero-culla">0</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-culla" onclick="incrementa('numero-culla', 'form-numero-culla')">+</button>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                        <%= image_tag("icone/sofa.png", alt: "") %>
                            <span class="label-contatore">Divani Letto</span>
                        </div>
                        <div class="input-number-container col-sm-4">
                            <div class="input-number">
                            <%= f.number_field :n_divani, class: "form-control", style: "display: none;", value: 0, required: true, min: 0, id: "form-numero-sofa" %>
                            <button type="button" class="input-number-btn" id="bottone-dec-sofa" onclick="decrementa('numero-sofa', 'form-numero-sofa')">−</button>
                            <span class="input-number-value" id="numero-sofa">0</span>
                            <button type="button" class="input-number-btn" id="bottone-inc-sofa" onclick="incrementa('numero-sofa', 'form-numero-sofa')">+</button>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-form">
        <h4>Servizi</h4>
            <div class="row">
                <% Service.all.each do |service| %>
                    <div class="col-lg-2 col-md-4">
                    <%= check_box_tag "house[provides_attributes][][service_id]", service.id,false, id: "house_provides_attributes_service_id_#{service.id}", class:"checkbox-opzione" %>
                    <%= label_tag "house_provides_attributes_service_id_#{service.id}", class:"opzione",for: "house_provides_attributes_service_id_#{service.id}" do %>
                        <%= image_tag("icone/#{service.nome}.png", class: "icona-check") %>
                        <span class="scritta-icona"><%=service.nome%></span>
                    <%end%>
                    </div>
                <% end %>
            </div>
        </div>
        
        <div class="container container-form">
        <h4>La tua casa è pet friendly?</h4>
        <%= f.radio_button :animali, true, onclick: "abilitadisabilita(1, 'house_desc_animali')", required: true, id: "animali-si" %>
        <%= f.label :animali_si, "Sì" %>
        <%= f.radio_button :animali, false, onclick: "abilitadisabilita(0, 'house_desc_animali')", required: true, id: "animali-no" %>
        <%= f.label :animali_no, "No" %>
        
        </div>
        <div class="container container-form">
            <h4>Descrivi il tuo alloggio:</h4>
            <div class="form-group">
                <%= f.text_area(:desc_casa, class: "form-control areatesto") %>
            </div>
        </div>
        <div class="container container-form">
            <h4>Descrivi il tuo quartiere:</h4>
            <div class="form-group">
              <%= f.text_area(:desc_quartiere, class: "form-control areatesto") %>
            </div>
        </div>
        <div class="container container-form">
            <h4>Aggiungi foto della tua casa.</h4>
            <%= f.file_field :photos, multiple:true %>
        </div>
        <div class="container container-form">
            <h4>Quando vorresti partire?</h4>
            <div id="query-result">

            </div>
            <div class="d-flex justify-content-between" style="margin-right: 60%; margin-top: 15px;">
                <div class="d-flex">
                    <p>Check in</p>
                    <%= f.date_field :data_in %>
                </div>
                <div class="d-flex">
                    <p>Check out</p>
                    <%= f.date_field :data_out %>
                </div>
            </div>
            <br>
            <%= f.submit "Conferma e invia", class: "btn login-button" %>
            <%= link_to "Annulla", houses_path(user_id: current_user.id), data: { confirm: "Sei sicuro di voler annullare l'operazione?" }, class: "btn btn-danger margine-10"%>
        </div>
    <% end %>