<div id="<%= dom_id house %>">

<div class="container" style="min-height: 0;">
  <a href="">
    <%= link_to(image_tag("loghi/logo 3.png", class:"form-casa-immagine"), root_path) %>
  </a>
    </div>
    <div class="container container-form" style="margin-top : 10px">
        <h2 class="titolo-bello">La casa di <%=house.user_id%></h4>
            <div class="row">
                <div class="col-6">
                    <div class="container container-form">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% counter = 0 %>
                                <% house.photos.each do |photo| %>
                                  <div class="carousel-item active">
                                    <%= image_tag (photo) %>
                                  </div>
                                <%end%>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Precedente</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-bs-slide="next">
                                <span class="sr-only">Successivo</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container container-form" style="overflow:hidden; height:50vh;">
                        <div id="map">
                        <%= form_with(model: house, local: true, data: { controller: "location", action: "google-maps-callback@window->location#initMap", location_placeidd: house.place_id }) do |form| %>

                            <div>
                            <%= form.label :address, style: "display: block" %>
                            <%= form.text_field :address, name: nil, data: { target: "location.field"}, readonly:true %>
                            </div>
                            <div style="display: none;" >
                            <%= form.text_field :place_id, data: { target: "location.placeidd" }, readonly:true %>
                            </div>
                            <p>
                            <strong>Città:</strong>
                            <%= house.citta %>
                            </p>
                            <p>
                            <strong>Nazione:</strong>
                            <%= house.nazione %>
                            </p>
                            <div>
                            <div data-target="location.map" style="height:400px;width:700px"></div>
                            </div>
                        <%end%>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    <div class="container container-form">
        <div class="row">
            <h4>Servizi disponibili:</h4>
            <% house.services.each do |service| %>
                <div class="col-lg-2 col-md-2 col-sm-4">
                    <%= image_tag("icone/#{service.nome}.png", class: "icona-check") %>
                    <span class="scritta-icona"><%=service.nome%></span>
                </div>
            <%end%>
        </div>
    </div>
    <div class="container container-form">
        <div class="row">
            <div class="col-lg-6">
                <h4>Ambienti:</h4>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/lettodoppio.png", alt: "") %>
                        <span class="label-contatore">Camere da Letto</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <%= house.n_camere%>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/bath.png", alt: "") %>
                        <span class="label-contatore">Bagni</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_bagni%>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/cucina.png", alt: "") %>
                        <span class="label-contatore">Cucine</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_cucine%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/sofa.png", alt: "") %>
                        <span class="label-contatore">Soggiorni</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_soggiorni%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Quante persone può ospitare?</h4>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/lettosingolo.png", alt: "") %>
                        <span class="label-contatore">Letti Singoli</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_singoli%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/lettodoppio.png", alt: "") %>
                        <span class="label-contatore">Letti Matrimoniali</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_doppi%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/culla.png", alt: "") %>
                        <span class="label-contatore">Culle</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_culle%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <%= image_tag("icone/sofa.png", alt: "") %>
                        <span class="label-contatore">Divani Letto</span>
                    </div>
                    <div class="input-number-container col-sm-4">
                        <div class="input-number">
                            <%= house.n_divani%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-form">
        <div class="row">
            <div class="col-6">
                <h4>Descrizione alloggio:</h4>
                <%= house.desc_casa%>
            </div>
            <div class="col-6">
                <h4>Descrizione quartiere:</h4>
                <%= house.desc_quartiere%>
            </div>

        </div>
    </div>
    <div class="container container-form">
        <div class="row">
            <h4>Pet Friendly:</h4>
            <%if house.animali == "true"%>
                <p> Sì </p>
            <%else%>
                <p> No </p>
            <%end%>
        </div>
    </div>
    <div class="container container-form">
        <div class="row">
            <div class="col-sm-2">
                <h4>Data Check-in</h4>
                <%= house.data_in.strftime("%d/%m/%Y") %>
            </div>
            <div class="col-sm-2">
                <h4>Data Check-out</h4>
                <%= house.data_out.strftime("%d/%m/%Y") %>
            </div>
        </div>
    </div>
    