<div id="<%= dom_id house %>">
  <p>
    <strong>User:</strong>
    <%= house.user_id %>
  </p>

  <p>
    <strong>Tipologia:</strong>
    <%= house.tipologia %>
  </p>

  <p>
    <strong>Superficie:</strong>
    <%= house.superficie %>
  </p>

  <p>
    <strong>N bagni:</strong>
    <%= house.n_bagni %>
  </p>

  <p>
    <strong>N camere:</strong>
    <%= house.n_camere %>
  </p>

  <p>
    <strong>N cucine:</strong>
    <%= house.n_cucine %>
  </p>

  <p>
    <strong>N soggiorni:</strong>
    <%= house.n_soggiorni %>
  </p>

  <p>
    <strong>N singoli:</strong>
    <%= house.n_singoli %>
  </p>

  <p>
    <strong>N doppi:</strong>
    <%= house.n_doppi %>
  </p>

  <p>
    <strong>N culle:</strong>
    <%= house.n_culle %>
  </p>

  <p>
    <strong>N divani:</strong>
    <%= house.n_divani %>
  </p>

  <p>
    <strong>Allergie:</strong>
    <%= house.allergie %>
  </p>

  <p>
    <strong>Animali:</strong>
    <%= house.animali %>
  </p>

  <p>
    <strong>Desc casa:</strong>
    <%= house.desc_casa %>
  </p>

  <p>
    <strong>Desc quartiere:</strong>
    <%= house.desc_quartiere %>
  </p>

  <p>
    <strong>Data in:</strong>
    <%= house.data_in %>
  </p>

  <p>
    <strong>Data out:</strong>
    <%= house.data_out %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= house.place_id %>
  </p>
   <p>
    <strong>Città:</strong>
    <%= house.citta %>
  </p>
   <p>
    <strong>Nazione:</strong>
    <%= house.nazione %>
  </p>

  <% house.photos.each do |photo| %>
    <%= image_tag (photo) %>
  <%end%>

</div>
