
<div class="container" style="min-height: 0;">
<a href="">
<%= link_to(image_tag("loghi/logo 3.png", class:"step-immagine login-immagine"), root_path) %>
</a>
    </div>
    <div class="row">
        <% @houses.each do |house| %>
          <div class="card" style="width: 18rem;">
            
          <%= image_tag(house.photos.first, class: "card-img-top immagine-card") %>
            <div class="card-body">
            <h5 class="card-title">La casa di <%= User.find(house.user_id).name %></h5>
            <p class="card-text"><%= house.citta%> </p>
            <% if current_user == house.user || (current_user.user_type == 'admin' && current_user != house.user) %>
              <%= link_to "Modifica", edit_house_path(house), class: "btn login-button margine-10" %>
              
            <% end %>
            <% if current_user.user_type == 'admin' && current_user != house.user %>
              <%= button_to 'Elimina come admin', house, method: :delete, form: { data: { turbo_confirm: 'Sei sicuro di voler eliminare questa casa?' } }, class: "btn btn-danger" %>
            <% elsif current_user.user_type != 'admin' && current_user == house.user%>
              <%= button_to 'Elimina casa', house, method: :delete, form: { data: { turbo_confirm: 'Sei sicuro di voler eliminare questa casa?' } }, class: "btn btn-danger" %>
            <% end %>

            <%= link_to "Mostra questa casa", house, class: "btn login-button margine-10" %>
            </div>
          </div>
        <% end %>

    </div>