
<div class="container" style="min-height: 0;">
<a href="">
<%= link_to(image_tag("loghi/logo 3.png", class:"step-immagine login-immagine"), root_path) %>
</a>
    </div>
    <div class="row">
        <% @houses.each do |house| %>
          <div class="card" style="width: 18rem;">
            
          <%= image_tag(house.photos.first, class: "card-img-top immagine-card") %>
            <div class="card-body">
            <h5 class="card-title">La casa di <%= house.user_id %></h5>
            <p class="card-text"><%= house.citta%> </p>
            <button class="btn login-button margine-10">
            <%= link_to "Show this house", house, class: "link-light link-underline-opacity-100-hover link-underline-opacity-0" %>
            </button>
            </div>
          </div>
        <% end %>

    </div>