<!-- app/views/users/index.html.erb -->
<%= link_to(image_tag("loghi/logo 3.png", class:"step-immagine login-immagine"), root_path) %>

<h1>List of Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>User Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr <%= 'class=table-primary' if user == current_user %>>
        <td><%= user == current_user ? "<strong>Tu</strong>".html_safe : user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_type %></td>
        <td>
          <% unless user == current_user %>
            <%= link_to 'Toggle User Type', toggle_user_type_path(user), method: :patch, class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'View Houses', houses_path(user_id: user.id), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div>
send a new mail message
<%= link_to 'invia', new_email_message_path %>
</div>

