<%= link_to(image_tag("loghi/logo 3.png", class:"step-immagine login-immagine"), root_path) %>
    <%# <%= form.label :dest %>
    <%#<%= form.text_field :dest %>

<div class="background">
    <div class="container container-login">
        <div class="row">
            <div class="col-md-12">
                <div class="login-card">
                    <div class="login-form">
                        <a href="homepage.html">
                          <div class="login-form-inputs">
                        </a>  
                          


<h1>Contatta il Servizio Clienti</h1>

<%= form_with(model: @email_message , url: email_messages_path, local: true) do |form| %>

  <div class="form-floating mb-4">
    <%= form.text_field :subject, class: "form-control", value: "Reclamo" %>
    <%= form.label :Oggetto, class: "form-label" %>
    
  </div>
  <div class="form-floating mb-4">

    <%= form.text_area :body, class: "form-control", required: true %>
    <%= form.label :messaggio, class: "form-label", required: true %>
  </div>
  <div class="bottoni-registrazione">

    <%= form.submit "Salva ed Invia", class: 'btn btn-primary green' %>
   
  </div>
<% end %>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
